# This is a sample config file.
# A real config file would be named <someinterface>.sh.
# All lines beginning with "#" are just comments of this config file.
# You may remove them from the actual config files you write.

# ouiList is a list of files from the oui/ directory that you wish to include
# as possible OUI prefixes for the MAC addresses assigned to this interface.
# addresses interface

ouiList=(
	wireless_laptop
	wireless_usb
)

# ouiBlacklist is optional (you can completely leave it out).
# If specified, it is a list of OUI prefixes that should never be used for
# generating MAC addresses for this network interface.

ouiBlacklist=(
	00:26:bb # Apple, Inc.
)

# ending is optional (you can completely leave it out).
# If specified and not empty, it should contain the last 3 bytes of the MAC
# address that you want to use for all generated MAC addresses for this
# network interface. If not specified, those last 3 bytes will be chosen
# randomly.
ending=''

# useRandom is optional (you can completely leave it out).
# If specified and not empty, macchiato will use /dev/random instead of
# /dev/urandom as a source of randomness. On Linux systems, this may block for
# some time until enough entropy is available, but provides higher-quality
# randomness used when generating a MAC address.
useRandom=''

# dontTouch should be set to true if you don't want macchiato to touch this
# interface at all. This is useful in case your _default.sh file requests
# the MAC address to be changed, but that there are certain interfaces for
# which you don't want the MAC address to be changed.
dontTouch='false'
