[Unit]
Description=MAC address spoofing
Before=NetworkManager.service dhcpcd.service dhcpcd@.service netcfg.service netcfg@.service wicd.service

[Service]
Type=oneshot
ExecStart=/usr/share/macchiato/macchiato /etc/macchiato.d

[Install]
WantedBy=network.target
